html {
	height: 100%;
}

body {
	background-color: #eeeeee;
	font-family: 'HelveticaNeue-Light', 'Helvetica', 'Sans-Serif';
	font-size: 14px;	
	margin: 0;
	padding: 0;	
}

.cb {
	clear: both;
}

.application {
	background-color: #ffffff;
	margin: 0px auto 0;
}

.header {
	background-color: #000000;
}

.header-title,
.header-subtitle {
	color: #ffffff;
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica', 'Sans-Serif';
	float: left;
}

.nav-bar {
	height: 44px;
	line-height: 44px;
	padding: 0 5px;
}

.nav-bar .enter-location,
.nav-bar .location-text {
	float: left;
}

.form-override {
	display: inline;
}

.nav-bar .loading-area-and-results {
	float: right;
}

.nav-bar .loading-area-and-results img {
	padding-right: 5px;
}

#map-canvas {	
	padding: 0 1px;
	width: 100%;
}

/* Desktops */
@media screen and (min-width: 641px) {
	.application {
		width: 900px;
	}

	.header {
		height: 66px;
		padding: 0 15px;
	}

	.header-title,
	.header-subtitle {
		font-size: 36px;
		line-height: 66px;
	}

	.header-subtitle {
		font-size: 18px;
		line-height: 52px;
		margin: 14px 10px 0;
	}

	.form-override {
		width: 300px;
	}

	#map-canvas {
		height: 500px;
	}	
}

/* iPhone / mobile */
@media only screen and (max-width: 640px) {
	.form-override {
		width: 140px;
	}

	.header {
		height: 33px;
		padding: 0 7px;
	}

	.header-title,
	.header-subtitle {
		font-size: 18px;
		line-height: 33px;
		font-family: 'HelveticaNeue-Light', 'Helvetica', 'Sans-Serif';
	}

	.header-subtitle {
		font-size: 9px;
		line-height: 26px;
		margin: 7px 5px 0;
	}	

	#map-canvas {
		height: 300px;
	}	

	.loadingText {
		display: none;
	}
}